body {
  margin: 0;
  text-align: center;
  background: rgb(255, 0, 170);
  background-image: repeating-linear-gradient( to bottom, transparent 7px, rgba(0, 0, 0, 0.945) 9px, rgba(0, 0, 0, 0.8) 13px, transparent 13px );
  color: rgb(255, 255, 255);
}
.tubelight span{

  text-shadow:0px 0px 20px ,
      0px 0px 30px  #f3a600,
      0px 0px 10px  #fff,
      0px 0px 1px  #fff;
      
}